@page "/Comment"
@inject IJSRuntime JS
@using MudBlazorWebApp.Models
@inject HttpClient HttpClient
<PageTitle>墨香心语</PageTitle>

@foreach(var item in comments)
{
    <评论 comment="@item"/>
}

@if (appear)
{
    <div class="fixed-bottom-comment">
        <发送评论 PostApiPath="@URL"></发送评论>
    </div>
}
<MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Large" Color="Color.Primary" Class="fixed-bottom-right" @onclick="ChangeCommentAddDisplayer"></MudIconButton>
@code{
    private bool appear;
    private string URL = Settings.URL + "Comment/PostComment";
    private void ChangeCommentAddDisplayer()
    {
        appear = !appear;
    }
}


@code {
    private List<CommentModel> comments = new List<CommentModel>();
    private int currentPage = 1;
    private const int PageSize = 6;
    private bool isLoading = false;

    protected async override Task OnInitializedAsync()
    {
        // 加载第一页的评论
        comments = await LoadCommentsAsync(currentPage);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // 注册 JavaScript 事件监听器
            var dotnetHelper = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initializeScrollEvent", dotnetHelper);
        }

    }
    private async Task<List<CommentModel>> LoadCommentsAsync(int page)
    {
        var response = await HttpClient.GetFromJsonAsync<List<CommentModel>>($"{Settings.URL}Comment/GetPagedComments?page={page}&pageSize={PageSize}");
  
        return response ?? new List<CommentModel>(); // 防止返回 null
    }
    [JSInvokable]
    public async Task OnScrollToBottom()
    {
        if (isLoading) return;
        isLoading = true;
        // 加载下一页评论
        currentPage++;
        Console.WriteLine(currentPage);
        var newComments = await LoadCommentsAsync(currentPage);
        if (newComments.Any())
        {
            comments.AddRange(newComments); // 将新评论追加到现有列表中
            StateHasChanged(); // 强制更新 UI
        }
        isLoading = false;
       }
    }
<style>
    /* 添加一个类来固定按钮 */
    .fixed-bottom-right {
        position: fixed; /* 使用 fixed 定位 */
        bottom: 1vw; /* 距离视口底部 20px */
        right: 5vw; /* 距离视口右侧 20px */
        z-index: 1000; /* 提高 z-index 以确保按钮在其他内容之上 */
    }
    .fixed-bottom-comment
    {
        position: fixed; /* 使用 fixed 定位 */
        bottom: 1vw; 
        right: 15vw; 
        z-index: 1000; 
       width:60vw;
    }

    @@media (max-width: 768px) {
        .fixed-bottom-comment {
            position: fixed; 
            bottom: 1vw;
            left: 2vw;
            width:80vw;
            z-index: 1000;
        }
    }
</style> 